.App {
  text-align: justify;
  margin: 0;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

* {
  box-sizing: border-box;
}

ul {
  list-style-type: none;
}

li {
  display: list-item;
  text-align: -webkit-match-parent;
}

li i {
  padding: 1px;
}

div {
  display: relative;
}

img {
  vertical-align: middle;
  border-style: none;
}

button, input {
  overflow: visible;
}
.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

[class*="col-"] {
  float: left;
}

[class*="col-"] {
  width: 100%;
}


@media only screen and (max-width: 480px) {
  .col-s-1 {width: 8.33%;}
  .col-s-2 {width: 16.66%;}
  .col-s-3 {width: 25%;}
  .col-s-4 {width: 33.33%;}
  .col-s-5 {width: 41.66%;}
  .col-s-6 {width: 50%;}
  .col-s-7 {width: 58.33%;}
  .col-s-8 {width: 66.66%;}
  .col-s-9 {width: 75%;}
  .col-s-10 {width: 83.33%;}
  .col-s-11 {width: 91.66%;}
  .col-s-12 {width: 100%;}
  .col-ec {width: 50%;}
  .review-card-container {
    flex-direction: column;
    word-wrap: break-word;
  }
  .review-card {
    display: flex;
    flex-direction: column;
    word-wrap: break-word;
    padding: 20px;
    height: auto;
    border: 1px solid #9b9b9b;
    border-radius: 20px;
  }

  .search-input {
    margin-bottom: 10px;
  }

  .topnav {
    height: auto;
  }

  .bottom-frame {
    width: 320px;
    height: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px solid gray;
    background-color: lightgray;
    display: block;
  }
  
}

@media only screen and (min-width: 480px) and (max-width: 960px) {
  .col-m-1 {width: 8.33%;}
  .col-m-2 {width: 16.66%;}
  .col-m-3 {width: 25%;}
  .col-m-4 {width: 33.33%;}
  .col-m-5 {width: 41.66%;}
  .col-m-6 {width: 50%;}
  .col-m-7 {width: 58.33%;}
  .col-m-8 {width: 66.66%;}
  .col-m-9 {width: 75%;}
  .col-m-10 {width: 83.33%;}
  .col-m-11 {width: 91.66%;}
  .col-m-12 {width: 100%;}
  .col-ec {width: 20%;}

  .bottom-frame {
    width: 468px;
    height: 60px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px solid gray;
    background-color: lightgray;
    display: block;
  }

}

@media only screen and (min-width: 960px) {
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}
  .col-ec {width: 20%;}

}

.col-4, .col-10, .col-m-4, .col-m-10 .col-s-4, .col-s-12, .col-ec {
  padding-right: 15px;
  padding-left: 15px;
  position: relative;
}

.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.btn {
  display: inline-block;
  font-weight: 400;
  color: #212529;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.input-group>.form-control {
  position: relative;
  flex: 1 1 auto;
  width: 1%;
  min-width: 0;
  margin-bottom: 0;
}

.form-control {
  display: block;
  width: 100%;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-top-color: rgb(206, 212, 218);
  border-top-style: solid;
  border-top-width: 1px;
  border-right-color: rgb(206, 212, 218);
  border-right-style: solid;
  border-right-width: 1px;
  border-bottom-color: rgb(206, 212, 218);
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-left-color: rgb(206, 212, 218);
  border-left-style: solid;
  border-left-width: 1px;
  border-image-source: initial;
  border-image-slice: initial;
  border-image-width: initial;
  border-image-outset: initial;
  border-image-repeat: initial;
  border-radius: 0.25rem;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  transition-property: border-color, box-shadow;
  transition-duration: 0.15s, 0.15s;
  transition-timing-function: ease-in-out, ease-in-out;
  transition-delay: 0s, 0s;
}

.topnav {
  overflow: hidden;
  background-color: white;
  border-top: 1px solid rgb(206, 212, 218);
  border-bottom: 1px solid rgb(206, 212, 218);
  height: 30px;
  text-align: center;
}

.topnav a {
  float: center;
  /* display: block; */
  color: black;
  text-align: center;
  padding: 6px 8px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 12px;
  justify-content: center;
  
}

.topnav a:hover {
  background-color: whitesmoke;
  color: black;
}

.topnav a.active {
  background-color: #2196F3;
  color: white;
}

.topnav .search-container {
  float: right;
}

.topnav input[type=text] {
  padding: 6px;
  margin-top: 8px;
  font-size: 17px;
  border: none;
}

@media screen and (max-width: 600px) {
  .topnav .search-container {
    float: none;
  }
  .topnav {
    height: auto;
  }
  .topnav a {
    float: none;
    display: inline-flex;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 14px;
    justify-content: start;
    padding-left: 20px;
  }
  .topnav input[type=text] {
    border: 1px solid #ccc;  
  }
}

.logo-wrapper {
  display: flex;
  align-items: center;
  height: 44px;
  position: relative;
  max-width: 180px;
  margin-right: auto;
  white-space: nowrap;
}

.search-input-wrapper {
  width: 70%;
  position: relative;
}

.search-input {
  outline: none;
}

.button-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #db284e;
  margin-left: 20px;
}

.navbar-wrapper {
  background-color: #ffffff;
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1292px;
  margin: 0 auto;
  padding: 0px 5px;
}

.top-frame {
  width: 970px;
  height: 50px;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 1px solid gray;
  background-color: lightgray;
  display: block;
}

.billboard {
  width: 970px;
  height: 250px;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 1px solid gray;
  background-color: lightgray;
  display: block;
}

.rating {
  display: flex;
  margin: 0;
  padding: 0;
}

.card-img, .card-img-top {
  border-top-left-radius: calc(0.25rem - 1px);
  border-top-right-radius: calc(0.25rem - 1px);
}

.card-img, .card-img-bottom, .card-img-top {
  -ms-flex-negative: 0;
  flex-shrink: 0;
  width: 100%;
}

.navbar {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1rem;
}

.navbar .container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
}

.main-header {
  display: flex;
  flex-direction: row;
  z-index: 1;
  position: fixed;
  height: 60px;
  top: 0;
  left: 0;
  right: 0;
  background: #ffffff;
  border-top: 1px solid rgb(206, 212, 218);
}

.justify-content-center {
   justify-content: center;
 }

.text-fd {
   color: #db284e;
 }

.panel {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.panel a:hover {
  text-decoration: underline;
  color: #db284e;
}

.link-title {
  position: relative;
  margin-top: 60px;
  text-decoration: none;
  color: #db284e;
  width: auto
}

.section-items {
  display: inline-block;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  padding-left: 10px;
  padding-right: 10px;
}

h4.title {
  text-align: left;
  font-size: 18px;
  font-weight: 700;
}

p.subtitle {
  font-size: 15px;
  color: #9b9b9b;
  text-align: left;
}

.section-title {
  display: block;
  text-align: left;
  margin-top: 30px;
  padding-left: 10px;
  padding-right: 10px;
}

.section-recommendation {
  display: block;
  text-align: left;
  margin-top: 50px;
  margin-bottom: 50px;
}

.card-title {
  text-align: left;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
}

.card-text {
  text-align: left;
  font-size: 14px;
  font-weight: 500;
  padding: 0;
}

.product-variant {
  font-size: 12px;
  text-align: left;
  color: #9b9b9b;;
}

.editor-choice-card .editor-profile {
  margin-top: -35px;
  margin-bottom: 10px;
}

.editor-profile {
  box-shadow: none;
}

.editor-choice-card {
  background: #FFFFFF;
  /* border: 0.5px solid #454F5B; */
  border: 1px solid rgba(0,0,0,.125);
  box-sizing: border-box;
  border-radius: 14px;
  padding: 0 14px 16px 14px;
  border-radius: 10px;
  z-index: 2;
  min-width: 170px;
}

.card-profile-wrapper {
  display: flex;
  border-radius: 28px;
  align-items: center;
  flex-direction: row;
  justify-content: unset;
  z-index: auto;
}

.card-profile-wrapper .image-wrapper {
  width: 42px;
  height: 42px;
  margin-right: 13px;
  margin-left: 0;
  margin-bottom: 0;
}

.image-wrapper {
  width: 42px;
  height: 42px;
  margin-right: 8px;
  margin-left: 0;
  margin-bottom: 0;
}

.card-profile-wrapper .card-profile-picture {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: flex;
  align-items: center;
  overflow: hidden;
}

.card-profile-wrapper .text-wrapper .profile-username {
  font-family: Poppins;
  margin-top: 0;
  font-weight: 600;
  margin-bottom: 0;
  word-break: break-all;
}

.card-profile-wrapper .text-wrapper p {
  font-size: 10px;
  text-align: left;
  margin-top: 0;
}
.card-profile-wrapper .text-wrapper .profile-age, .card-profile-wrapper .text-wrapper .profile-description {
  font-family: Roboto;
  line-height: 1.56;
  color: #9b9b9b;
  word-break: break-all;
}

.product-card {
  border: none;
}

.text-wrapper {
  margin-top: -15px;
}

.col-md-2 {
  padding-left: 5px;
  padding-right: 5px;
}

.rating-text {
  justify-content: flex-start;
  align-items: left;
  align-self: left;
  margin-right: 5px;
  font-weight: 600;
}

.review-number {
  justify-content: flex-start;
  align-items: left;
  align-self: left;
  margin-left: 5px;
  font-weight: 600;
}

.article-card {
  height: 280px;
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: none;
  border-radius: 10px;
  
}

.span {
  display: flex;
  color: #9b9b9b;
}

p.text-gray {
  color: gray;
  display: flex;
}

.article-card .card-img-top {
  border-radius: 5px;
}

.editor-card-container {
  padding: 10px;
}

.review-card-container { 
  margin-right: 15px;
  height: auto;
  position: relative;
  min-width: 250px;
  margin-bottom: 20px;
}

.review-card {
  display: flex;
  padding: 20px;
  /* width: 100%; */
  height: 320px;
  border: 1px solid rgba(0,0,0,.125);;
  border-radius: 20px;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;

}

.reviewer-profile-container {
  padding: 0px 20px;
  margin-top: -25px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.review-card .card-header {
  height: 100px;
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid #9b9b9b;
  background-color: #ffffff;
  padding: 0;
}

.review-card .card-body {
  display: inline-block;
  min-height: 150px;
  width: 100%;
}

.review-card img.reviewer-profile {
  width: 45px;
  height: 45px;
  border: 1px solid #9b9b9b;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-size: contain;
}

.review-card .product-image-wrapper{
  background-color: #ffffff;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 65px;
  height: 78px;
  overflow: hidden;
}

p.comment {
  margin-top: 1rem;
  text-align: justify;
  display: flex;
  justify-content: flex-start;
}

p.reviewer-username {
  padding: 0px 20px;
  margin-top: 10px;
  margin-bottom: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
}

small.reviewer-desc {
  color: gray;
  display: flex;
  align-items: center;
  justify-content: center;
}

.review-container {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
  height: 25px;
}

.rating-container {
  display: inline-block;
  margin-top: -15px;
  width: 130px;
}

p.published-time {
  margin-top: 5px;
  font-size: 11px;
  color: #9b9b9b;
}

.review-card .product-header {
  width: auto;
  height: auto;
}

.product-header p.card-title {
  color: #000000;
}

.product-header p.card-title:not(:last-child) {
  font-weight: 900;
  text-transform: uppercase;
  margin-bottom: -2px;
}

small.text-gray {
  color:#9b9b9b; 
}

.slick-prev {
  left: 3% !important;
  z-index: 1;
}
.slick-next {
  right: 3% !important;
  z-index: 1;
}

button.search-btn {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0; 
  border: 1px solid #ced4da;
  border-right: 0px;
  background-color: #ffffff;
}

button.login {
  color: #ffffff;
  width: 120px;
}

.popular-card {
  border-radius: 10px;
  padding: 16px;
  justify-content: center;
  align-items: center;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  margin-bottom: 25px;
}

.avatar-wrapper {
  display: flex;
  overflow: hidden;
  position: relative;
  font-size: 1.25rem;
  align-items: center;
  flex-shrink: 0;
  line-height: 1;
  user-select: none;
  border-radius: 50%;
  justify-content: center;
}

.avatar-wrapper img.card-img-top {
  color: transparent;
  width: 100px;
  height: 100px;
  object-fit: cover;
  text-align: center;
  text-indent: 10000px;
  border-radius: 50%;
}

.nav-wrapper {
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  flex-direction: column!important;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}

.dropdown-content a.dropdown-item {
  text-align: left;
}

.dummy-v1 {
  height: 375px;
  width: 100%;
  border: 1px solid lightgrey;
  background-color: lightgray;
}

.dummy-v2 {
  height: 180px;
  width: 100%;
  border: 1px solid lightgrey;
  background-color: lightgray;
  margin-bottom: 15px;
}

img.brand-img {
  height: 120px;
  width: 120px;
  object-fit: contain;

}

.footer {
  padding-top: 1.5rem!important;;
  padding-bottom: 1.5rem!important;;
}

li.nav-item a{
  color: #000000;
  font-weight: 700;
}

.nav-item {
  color: #000000;
  font-weight: 700;
}

.bottom-frame {
  width: 970px;
  height: 50px;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 1px solid gray;
  background-color: lightgray;
  display: block;
}

.bt-gray {
  border-top: 1px solid rgba(0,0,0,.125)
}

.download-mobile {
  display: flex;
  justify-content: space-between;
  width: 280px;
}